:root {
  --white: white;
  --black: black;
}

@font-face {
  font-family: "NBInternational";
  src: url("../media/font/NB International Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "NBInternational", sans-serif;
  width: 100%;
  overflow-x: hidden;
  padding: 0 20px;
  position: relative;
}
body.product-view-active {
  overflow-y: hidden;
  pointer-events: none;
}

header nav {
  height: 90px;
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav img {
  height: 100%;
}

.collection__werke {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.collection__werke .card__werke {
  height: auto;
  width: calc(25% - 15px);
  cursor: pointer;
}
.collection__werke .card__werke ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.collection__werke .card__werke ul .img__werke {
  margin-bottom: 10px;
}
.collection__werke .card__werke ul .title__werke {
  font-family: "NBInternational", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
}
.collection__werke .card__werke ul .name__werke {
  font-family: "Manrope", sans-serif;
  color: #050505;
  font-size: 14px;
  font-weight: 400;
}
.collection__werke .card__werke ul .price__werke {
  font-family: "NBInternational", sans-serif;
  font-size: 14px;
  color: #535353;
}

.werke-preview {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  width: 30vw;
  transform: translateX(100%);
  visibility: hidden;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  transition: transform 0.3s ease;
}
.werke-preview.active {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
  transition: transform 0.3s ease;
}
.werke-preview .werk {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.werke-preview .werk .close-btn {
  display: flex;
  align-items: center;
  height: auto;
  gap: 5px;
  line-height: 1;
  cursor: pointer;
}
.werke-preview .werk .close-btn svg {
  height: 18px;
  width: 18px;
}
.werke-preview .werk ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.werke-preview .werk ul .img__werke {
  margin-bottom: 10px;
}
.werke-preview .werk .description {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}
.werke-preview .werk .anfrage {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.werke-preview .werk .anfrage input {
  width: 100%;
  padding: 8px 8px;
}
.werke-preview .werk .anfrage .anfrage-btn {
  width: 100%;
  display: grid;
  place-content: center;
  padding: 8px 8px;
  display: flex;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.werke-preview .werk .anfrage .anfrage-btn:hover {
  background-color: #1a1a1a;
}

.collection__werke2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.collection__werke2 .card__werke2 {
  height: auto;
  width: calc(25% - 15px);
  margin-top: 20px;
}
.collection__werke2 .card__werke2 ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.collection__werke2 .card__werke2 ul .img__werke2 {
  margin-bottom: 10px;
}
.collection__werke2 .card__werke2 ul .title__werke2 {
  font-family: "NBInternational", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.collection__werke2 .card__werke2 ul .name__werke2 {
  font-family: "Manrope", sans-serif;
  color: #050505;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.collection__werke2 .card__werke2 ul .price__werke2 {
  font-family: "NBInternational", sans-serif;
  font-size: 14px;
  color: #535353;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */